<div class="w3-full">
    <div class="w3-top w3-bar w3-border w3-card-4 w3-light-grey w3-margin-bottom">
        <a id="navH" href="#Home" class="w3-bar-item w3-button " onclick="openTab('Home', 'navH')" >Home</a>
        <a id="navR" idhref="#Resume" class="w3-bar-item w3-button" onclick="openTab('Resume', 'navR')" >Resume</a>
        <a id="navP" href="#Projects" class="w3-bar-item w3-button" onclick="openTab('Projects', 'navP')" >Projects</a>
        <a id="navD" href="#" class="w3-bar-item w3-button">Just the Docs</a>
      </div>
    </div>
<script>
    function openTab(tabName, navID) {
        // hide other content
        var i;
        var x = document.getElementsByClassName("maincontent");
        for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
        }
        // display desired content
        document.getElementById(tabName).style.display = "block";
        document.getElementById(tabName).scrollIntoView();

        //remove w3-text-{{ page.color_scheme }} from other tabs
        $(".w3-bar-item").removeClass("w3-text-{{ page.color_scheme }}");
 
        // add  w3-text-{{ page.color_scheme }} to clicked
        $("#"+navID).addClass("w3-text-{{ page.color_scheme }}");
        
    }
</script>
